
@{
    ViewData["Title"] = "Index";
    var alert = "Bu bir alerttir.";
    
}

<h1>Index</h1>
@{
    var name = ViewBag.name;
    <p>@name</p>
} 
<p>@name</p>
<p>@ViewBag.name </p><!--@ViewBag. şeklinde veriyi getiririz.-->
<p>@ViewData["age"]</p>
<h1>İsimler</h1>
@foreach (var item in ViewData["names"] as List<string>)
{
    <p>@item</p>
}

<p>@ViewBag.person.Id - @ViewBag.person.Name - @ViewBag.person.Age </p>

<h1>Alert</h1>
<div>Günün Tarihi @DateTime.Now.ToShortDateString()</div>

@{
    var datetime = DateTime.Now.ToShortDateString();
    var message = "Günün Tarihi";
    
    @: Bugünün Tarihi : @datetime
    <div>@message : @datetime</div>
}

@if (1 == 1)
{
    <p>Doğru</p>
}
else if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>Artık yıl</p>
    
}
else
{
    <p>Yanlış</p>
}

@for (int i = 0; i < 10; i++)
{
    <p>@i</p>
}